/* search-results HTML/css */
header h1 {
  text-align: center;
  padding: 20px;
  margin: auto;
  height: 100px;
  font-family: "Lato", sans-serif;
}

header h1 p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

/* BACKGROUND IMAGE ON PAGE */
/* https://unsplash.com/photos/gwT4rs_xlUA?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink */
.headerImage {
  background: url("assets/vince-lee-gwT4rs_xlUA-unsplash.jpg");
  background-repeat: repeat;
  height: 200px;
  background-size: contain;
}

.wrapper {
  padding: 1rem;
}

/* FORMATTING FOR THE SEARCH SELECTIONS SO THE WIDTHS DON'T EXCEED THE COLUMN */
.searchCol {
  padding-left: 15px;
  padding-right: 15px;
}

.selectOptions {
  margin-left: 15px;
  margin-top: 15px;
  line-height: 1.6;
}

#wine-box {
  font-family: "Lato", sans-serif;
  padding: 15px;
}

/* FORMATTING FOR THE GO BACK AND VIEW RECIPE BUTTONS */
.resultsPageBtns {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 25%vw;
  height: 35%;
  overflow: auto;
}

.radioBtns {
  padding-left: 20px;
}

.resultsPageBtns {
  margin-top: 15px;
}

.cardCol {
  display: none;
}

.noRes {
  display: none;
}
