body {
  margin-bottom: 25px;
}

header h1 {
  text-align: center;
  padding: 20px;
  width: 100%;
  margin: auto;
  height: 100px;
  font-family: "Lato", sans-serif;
}

header h1 p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

/* CREATED A WRAPPER TO ELIMINATE WHITE SPACE AROUND IMAGE */
.wrapper {
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.image1 {
  padding: 0px;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 60px;
  margin: 0px;
  padding: 10px;
}

/* FORMATTING FOR HOW AVATARS WILL DISPLAY ON PAGE */
.personalImages {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.welcomeContent {
  padding-left: 10px;
  font-family: "Lato", sans-serif;
}

/* FORMATTING FOR THE INDIVIDUAL AVATARS */
.avatar {
  border-radius: 50px;
  height: 70px;
  width: 70px;
  display: inline-block;
  margin: 15px;
}

/* FORMATTING FOR GET STARTED BUTTON */
.getStarted {
  padding: 15px;
  border-radius: 10px;
  margin: 50px;
}

.custom-select {
  margin-right: 20px;
}

.fixed-bottom {
  margin-top: 10px;
}

.footer {
  background-color: #283c63;
}
